---
layout: page
title: Archive
subtitle: Do something you like.
permalink: /archive/
---

<div class="home">
	{% for category in site.categories %}
	{% capture cat %}{{ category | first }}{% endcapture %}

	<h2>{{ cat | capitalize }}</h2>
		<ul class="post-list">
		{% for post in site.categories[cat] %}
		  <li>
		  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			 <span class="post-date">{{ post.date | date_to_long_string }}</span>
		  </li>

			{% if post.tags %}
			<div class="post-tags">
				{% for tag in post.tags %}
				<span class="post-tag">#{{ tag }}</span>
				{% endfor %}
			</div>
			{% endif %}

		{% endfor %}

		</ul>

	{% endfor %}
</div>


<p><strong>值得纪念的日子已经：</strong></p>
<div><style>.ny i{color:#FF4500}</style><div class="ny" style="margin-bottom:30px"><div style="font-size:30px;text-align:center"><i class="ic i-cjdl"></i> <span id="t_d"></span> <span id="t_h"></span> <span id="t_m"></span> <span id="t_s"></span> <i class="ic i-cjdl"></i></div></div><script type="text/javascript">function getRTime(){var e=new Date("2021/09/06 00:00:00"),t=new Date,n=e.getTime()-t.getTime(),m=Math.floor(n/1e3/60/60/24),o=Math.floor(n/1e3/60/60%24),r=Math.floor(n/1e3/60%60),d=Math.floor(n/1e3%60);document.getElementById("t_d").innerHTML=m+" 天",document.getElementById("t_h").innerHTML=o+" 小时",document.getElementById("t_m").innerHTML=r+" 分",document.getElementById("t_s").innerHTML=d+" 秒"}setInterval(getRTime,1e3)</script></div>
