---
layout: page
title: Archive
subtitle: Do something you like.
permalink: /archive/
---

<div class="home">
	{% for category in site.categories %}
	{% capture cat %}{{ category | first }}{% endcapture %}

	<h2>{{ cat | capitalize }}</h2>
		<ul class="post-list">
		{% for post in site.categories[cat] %}
		  <li>
		  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			 <span class="post-date">{{ post.date | date_to_long_string }}</span>
		  </li>

			{% if post.tags %}
			<div class="post-tags">
				{% for tag in post.tags %}
				<span class="post-tag">#{{ tag }}</span>
				{% endfor %}
			</div>
			{% endif %}

		{% endfor %}

		</ul>

	{% endfor %}
</div>

<p><strong>“带你见我的家人” “然后你也变成我的家人”</strong></p>

<div class="countdown">
	<span id="countdown"></span>
</div>

<script type="text/javascript">
	function getRTime() {
		var countdownElement = document.getElementById("countdown");
		var endDate = new Date("2023/05/14 00:00:00");
		var currentDate = new Date();

		var remainingTime = endDate.getTime() - currentDate.getTime();
		var days = Math.floor(remainingTime / 1000 / 60 / 60 / 24);
		var hours = Math.floor(remainingTime / 1000 / 60 / 60 % 24);
		var minutes = Math.floor(remainingTime / 1000 / 60 % 60);
		var seconds = Math.floor(remainingTime / 1000 % 60);

		countdownElement.innerHTML = days + " 天 " + hours + " 小时 " + minutes + " 分 " + seconds + " 秒";
	}

	setInterval(getRTime, 1000);
